---
---
@import "{{ site.theme }}";

main {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

section {
  flex-grow: 1;
  max-width: 100%;
}


header {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  right: auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 250px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}
